

#title-leader{
    text-align: center;
    font-size: 8vw;;
}
img{
    height:15vw;
    width:auto;
}



#meetings,#hackathons,#workshops{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom:5em;

}

#general-info div h3{
    text-align: center;
}

#workshops p,#meetings img, #hackathons img{
    float:right;
    margin-left:30px;
}


#general-info h3{
    font-size:5vw;
}

#general-info p{
    font-size:2vw;

}


#general-info{
    margin-left:5vw;
    margin-right:5vw;
}

#about {
    font-size:xx-large;
    margin:100px;
}


#title{
    float:left;
    padding-left:10vw;
    font-size: 12vw;
    font-family:"Georgia";
    margin-top:1vh;
    text-align: center;
}



#leader-area{

    display:flex;
    justify-content: space-between;
}


#leader-area section{
    margin:1vw;
    text-align: center;

}

#final section{
   

    display: flex;
    justify-content: space-between;
    text-align:center;
}

#final section div{
    width:20%;

}
form{
    align-self:center;
    
}

#final h4{
    font-size:3vw;
}

html{
    overflow-x: hidden;
    margin:3vw;
}

h2{
    text-align: center;
}

#remind{

    border-radius:9px;
}


.main-button:hover,
.main-button:active{
  background-color: white;
  color: #FF4742;
}

.main-button {

    margin:2vw;
    width:30vw;
    height:4em;


    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 4px 8px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 3vw;

    line-height:4em;
    text-align: center;
    float:right;
    text-decoration: none;


}


#beginning{
    display:flex;

}